.book{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 16px;
    margin: 16px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    background-color: antiquewhite;
}

.bookList{
    display: flex;
    flex-wrap: wrap;
}